* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}


section {
    padding: 0% 9%;
    min-height: 100vh;
    display: flex;
}

body {
    background-color: #F5F5F5;
}

.header {
    width: 100%;
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px;
    z-index: 1000;
    background-color: #fff;
    border-bottom: 1px solid #000;
    display: flex;
    align-items: center;
    padding: 0 4%;
    background-color: #000;
    justify-content: space-between;
}

.header .uers {
    color: #fff;
    display: flex;
    gap: 2rem;
    align-items: center;
}

.header .uers button {
    width: 5rem;
    height: 2rem;
    background-color: #fff;
    border: 0;
    outline: 0;
    cursor: pointer;

    &:active {
        background-color: #F5F5F5;
    }
}

.header .uers div {
    width: 2.6rem;
    height: 2.6rem;
    display: grid;
    place-items: center;
    position: relative;
    cursor: pointer;
}

.header .uers div .count {
    position: absolute;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    right: 0;
    top: 0;
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
    font-size: 10px;
}

.header .uers div i {
    font-size: 1.5rem;
}

.logo a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
}

.addtocart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.header ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    text-transform: capitalize;

    li {
        color: #fff;

        a {
            color: #fff;
        }
    }
}
.addtocart-container .product-box {
    height: 300px;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding: 1rem;
}

.addtocart-container .product-box .image {
    width: 400px;
    height: 100%;
    background-size: cover;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    align-items: center;

    img {
        width: 220px;
        height: 220px;
        margin: 0 auto;
        object-fit: cover;
    }
}

.addtocart-container .product-box .name {
    flex: 1;
    padding: 30px 3rem;
    display: flex;
    flex-flow: column;
    gap: 3rem;
}

.addtocart-container .product-box .buttons {
    padding: 30px 2rem;
    flex: 1;

    button {
        width: 100px;
        height: 40px;
        color: #fff;
        border-radius: 8px;
        border: 0;
        outline: unset;
        cursor: pointer;
    }

    button:nth-child(1) {
        background-color: skyblue;

        &:active {
            background-color: aquamarine;
        }
    }

    button:nth-child(2) {
        background-color: orangered;

        &:active {
            background-color: orange;
        }
    }
}

.footer {
    width: 100%;
    background-color: #000;
}

.footer .container-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 40px;
    padding: 6% 9%;

}

.footer .container-box .box {
    text-transform: capitalize;

}

.footer .container-box .box {
    h1 {
        color: #fff;
    }

    p {
        color: #fff;
        padding-top: 1rem;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-top: 1rem;
        text-transform: capitalize;

        li {
            cursor: pointer;
        }
    }

    a {
        color: #fff;

        &:hover {
            text-decoration: underline;
        }
    }

}

.footer .copyright {
    width: 100%;
    background-color: #fff;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;

    p {
        font-size: 1.2rem;
    }
}

@media (max-width:1066px) {
    html {
        font-size: 50%;
    }
}