* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.myorder {
    width: 100%;
    padding: 3rem;
    margin-top: 10vh;
    min-height: 50vh;
}

.order-tracking {
    width: 100%;
    display: flex;
    align-items: center;
    flex-flow: column;
    user-select: text;
    justify-content: center;
}

.order-tracking .container-box {
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.order-tracking .container-box .order-box {
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading {
    font-size: 1.3rem;
    width: 100%;
}

.order-tracking .container-box .box {
    width: 300px;
    height: 120px;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 2rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    justify-content: center;

    img {
        width: 70%;
    }
}

.order-tracking .container-box .box button {
    width: 100px;
    height: 40px;
    background-color: black;
    border: 0;
    outline: 0;
    color: #fff;
    cursor: pointer;

    &:active {
        background-color: #333;
    }
}